POSTGRES_USER=
POSTGRES_PASSWORD=

DB_URL=
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET=

OAUTH_CLIENT_ID=
OAUTH_CLINET_SECRET=

HYDRA_DB_USER=hydra
HYDRA_DB_PASSWORD=hydra_password
HYDRA_DSN=postgres://hydra:hydra_password@postgres:5432/hydra?sslmode=disable
HYDRA_SYSTEM_SECRET=replace-with-long-random-secret